<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.mapper.SysUserMapper">
    <select id="loadUserMaxOrderNum" resultType="Integer">
        select  max(ordernum) from sys_user
    </select>
    <insert id="insertUserRole">
        insert Sys_role_user(rid,uid) value (#{rid},#{uid})
    </insert>
</mapper>
